# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.env
# VSCode settings
.vscode/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# OS files
.DS_Store
Thumbs.db
